## Plot Markowitz Efficient Frontier

In this homework, we try to plot the Markowitz Efficient Frontier using daily return of three assets.

1. We load the daily closing stock prices of Apple Inc., FirstEnergy Corp., and Morgan Stanly for the last 20 years.

2. We calculate daily returns

3. We summarise the returns for each stock and calculate the covariance matrix of these assets

4. We create randomly, weighted portfolios of these assets

5. We calculate the expected return as well as expexted volatility for each of these portfolios

6. We plot expected returns vs. expexted volatility

![pic](https://upload.wikimedia.org/wikipedia/commons/e/e1/Markowitz_frontier.jpg)

* Import Numpy and Pandas

In [ ]:
import os
# documentation: https://docs.python.org/3/library/os.html

# Set target directory path to SESSION 1 folder
new_path = r"C:\Users\sharafi\Dropbox\ML course\Data Analytics Course\Data Science Course WS2025"  # use raw string or double backslashes on Windows

# Change the current working directory
os.chdir(new_path)

# Optional: Verify current working directory
print("Current working directory:", os.getcwd())

Current working directory: C:\Users\baner\Dropbox\ML course\Data Analytics Course\Data Science Course WS2025

In [3]:
import numpy as np
import pandas as pd

In [4]:
# read and prepare the stock prices
df= pd.read_csv('Input/001-HW2.csv')
df

       PERMNO      date TICKER       PRC
0       14593  20000103   AAPL  111.9375
1       14593  20000104   AAPL  102.5000
2       14593  20000105   AAPL  104.0000
3       14593  20000106   AAPL   95.0000
4       14593  20000107   AAPL   99.5000
...       ...       ...    ...       ...
15848   69032  20201224     MS   68.0900
15849   69032  20201228     MS   68.0500
15850   69032  20201229     MS   67.7100
15851   69032  20201230     MS   67.8400
15852   69032  20201231     MS   68.5300

[15853 rows x 4 columns]

In [3]:
df.groupby('TICKER').size()

TICKER
AAPL    5284
FE      5284
MS      3768
MWD     1517
dtype: int64

* Convert the integer dates to the **datetime** format to be readable by python

In [4]:
# df['date'] = ....

# df

* pivot the **df** and index it by date

In [5]:
# df= df.pivot(index='date', columns=['TICKER'],values=['PRC'])

# df

* Update the missing values of **MS** from **MWD** column
* Drop the **MWD** column

In [6]:
# df[('PRC',   'MS')].update(df[('PRC',  'MWD')])

# df=df.drop(columns=[('PRC',  'MWD')])

#### Calculate the logarithmic returns


* $ Return = (\frac{Price_t}{Price_{t-1}} -1 )* 100$

* <details>
<summary>HINT</summary>
<p>
DataFrame.shift(n) returns the n-th lag of a serie
</p>

In [7]:

# Return = ...

# Return

* drop NaNs
* <details>
<summary>HINT</summary>
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html">
this could be of help</a>

In [8]:
# Return = ...

### Create portfolios

* Set **cnt_portfolios** as the number of protfolios we sample

In [9]:
cnt_portfolios = 5000

* Create random weights for each of these 3 assets in each portfolio

In [10]:
portfolios = pd.DataFrame(np.random.random((cnt_portfolios,3)), columns=['w_1','w_2','w_3'])

portfolios

           w_1       w_2       w_3
0     0.287285  0.671306  0.353375
1     0.556613  0.918406  0.622635
2     0.907906  0.546205  0.416483
3     0.112278  0.556289  0.695223
4     0.119550  0.428891  0.076678
...        ...       ...       ...
4995  0.109767  0.463269  0.402064
4996  0.689820  0.077281  0.189190
4997  0.051342  0.772390  0.716471
4998  0.467069  0.342375  0.604060
4999  0.923856  0.988195  0.838404

[5000 rows x 3 columns]

* Normalise weights to have $\sum w_i = 1$

In [11]:
# portfolios = ...

# portfolios

* Calculate the annulised return **Ret**

* Calculate the covariance matrix of the stocks **SD**

In [12]:
# Ret = Return.mean().values * 252
# SD  = Return.cov().values *252

# print(Ret)
# print(SD)

* Calculate the expected return for each portfolio

* $Ret_p = \sum (w_i * \bar{Ret_i}) $

In [13]:
# portfolios['E_ret'] = portfolios[['w_1','w_2','w_3']].apply(...,  axis=1)

# portfolios

* Calculate the expected volatility for each portfolio



* <p>$σ_p$</sub> = (w<sub>1</sub><sup>2</sup>σ<sub>1</sub><sup>2</sup> + w<sub>2</sub><sup>2</sup> σ<sub>2</sub><sup>2</sup> + w<sub>3</sub><sup>2</sup>σ<sub>3</sub><sup>2</sup> + 2w<sub>1</sub>w<sub>2</sub>σ<sub>1</sub>σ<sub>2</sub>ρ<sub>12</sub> + 2w<sub>2</sub>w<sub>3</sub>σ<sub>2</sub>σ<sub>3</sub>ρ<sub>23</sub> + 2w<sub>1</sub>w<sub>3</sub>σ<sub>1</sub>σ<sub>3</sub>ρ<sub>13</sub>)<sup>1/2</sup><span id="ezoic-pub-ad-placeholder-105" class="ezoic-adpicker-ad"></span><span class="ezoic-ad medrectangle-3 medrectangle-3105 adtester-container adtester-container-105" data-ez-name="xplaind_com-medrectangle-3" style=""><span id="div-gpt-ad-xplaind_com-medrectangle-3-0" ezaw="300" ezah="250" style="position: relative; z-index: 0; display: inline-block; min-height: 250px; min-width: 300px;" class="ezoic-ad"><script data-ezscrex="false" data-cfasync="false" type="text/javascript" style="display:none;">eval(ez_write_tag([[300,250],'xplaind_com-medrectangle-3','ezslot_1',105,'0','0']));</script><div id="google_ads_iframe_/1254144/xplaind_com-medrectangle-3_0__container__" style="border: 0pt none; width: 300px; height: 250px;"></div></span></span></p>

* $σ_p$ = $ \sqrt( (cov \cdot W) \cdot W )$  :: dimensions: ((3 * 3) $\cdot$ (3 * 1)) $\cdot$ (1 * 3) = 1  

* <details>
<summary>HINT</summary>
<p> Consider Numpy.dot() for dot products of matrices

In [14]:
# portfolios['E_sd'] = portfolios[['w_1','w_2','w_3']].apply(lambda W: np.sqrt(np.dot(np.dot(SD, W),W)),  axis=1)

# portfolios

* Plot it!

In [15]:
# portfolios.plot.scatter('E_sd','E_ret')

* Check alternative approaches for example here: https://towardsdatascience.com/python-markowitz-optimization-b5e1623060f5